.mn_hdr{
  transform: scale(2);
  margin-left: 57%;
  margin-top: 5%;
}

body{
  background-image: url("abstract-modern-white-grey-gradient-color-diagonal-line-pattern-background-graphic-design_120819-741.avif");
  background-size: no-repeat;
  background-position: center;
  background-size: center;
}
