

.disigne{
    position:absolute;
    margin-top: 2%;
    margin-left: 7%;
    display: flex;
    /* transform: scale(1.5); */
}




.designe_number_two{
    position: relative;
    transform: scale(1.1);
}



.Zp{
    position:absolute;
    margin-left: 14%;
    margin-top: 2%;
    display: flex;
    /*transform: scale(1.5);*/
}



.block{
    position: absolute;
    margin-top: 3%;
    margin-left: 7%;
    display: flex;
    height: 25px;
    text-align: center;
    /*transform: scale(1.5);*/
}


.butt{
    height: 23px;
    position: absolute;
    margin-top: 3%;
    margin-left: 21%;
    display: flex;
    /* transform: scale(1.3); */
}
